.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
key.properties
.DS_Store
